{% extends "base.html" %}

{% block content %}
    <h1>Здравствуйте, {{ current_user.username }}!</h1><br>
    
    <h3>Это веб-приложение предназначено для составления транспортных маршрутов.</h3><br>

    <h3>Вы можете:</h3>
    <h4 class="ms-4">— Создавать, редактировать и удалять маршруты.</h4><br>

    <h3>На странице профиля рекомендуется указать данные о перевозчике.</h3>
    <p class="text-muted index-desc-small">Они будут автоматически подставляться в форму при создании нового маршрута.</p>
{% endblock %}
